{% extends 'base/index.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha de Inscripción - Partido Político</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
            padding: 30px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            font-weight: bold;
            color: black;
        }
        .btn-custom {
            margin-right: 10px;
        }
        .card {
            border: none;
            box-shadow: 0 0 15px rgba(0,0,0,0.05);
        }
        .card-header {
            background-color: #21618c;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            padding: 15px;
            border-radius: 10px 10px 0 0;
        }
        .btn-primary {
            background-color: #21618c;
            border-color: #21618c;
        }
        .btn-danger {
            background-color: #c0392b;
            border-color: #c0392b;
        }
        .form-control:focus {
            border-color: #003366;
            box-shadow: 0 0 0 0.2rem rgba(0, 51, 102, 0.25);
        }
        .custom-textfield {
            width: 200px; /* Ancho más pequeño */
            height: 100px; /* Altura más pequeña */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 5px;
            box-sizing: border-box;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                Ficha de Inscripción
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="{{ form.dni.id_for_label }}" class="col-sm-4 col-form-label">DNI:</label>
                                <div class="col-sm-8 input-group">
                                    {{ form.dni }}
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary" id="btn-consultar-dni">Consultar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.nombres.id_for_label }}" class="col-sm-4 col-form-label">Nombres:</label>
                                <div class="col-sm-8">
                                    {{ form.nombres }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.apellido_paterno.id_for_label }}" class="col-sm-4 col-form-label">Apellido Paterno:</label>
                                <div class="col-sm-8">
                                    {{ form.apellido_paterno }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.apellido_materno.id_for_label }}" class="col-sm-4 col-form-label">Apellido Materno:</label>
                                <div class="col-sm-8">
                                    {{ form.apellido_materno }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.fecha_nacimiento.id_for_label }}" class="col-sm-4 col-form-label">Fecha de Nacimiento:</label>
                                <div class="col-sm-8">
                                    {{ form.fecha_nacimiento }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.referido_por.id_for_label }}" class="col-sm-4 col-form-label">Referido Por:</label>
                                <div class="col-sm-8">
                                    {{ form.referido_por }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.lugar_nacimiento.id_for_label }}" class="col-sm-4 col-form-label">Lugar de Nacimiento:</label>
                                <div class="col-sm-8">
                                    {{ form.lugar_nacimiento }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.sexo.id_for_label }}" class="col-sm-4 col-form-label">Sexo:</label>
                                <div class="col-sm-8">
                                    {{ form.sexo }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.estado_civil.id_for_label }}" class="col-sm-4 col-form-label">Estado Civil:</label>
                                <div class="col-sm-8">
                                    {{ form.estado_civil }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="{{ form.grado_instruccion.id_for_label }}" class="col-sm-4 col-form-label">Grado de Instrucción:</label>
                                <div class="col-sm-8">
                                    {{ form.grado_instruccion }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.profesion.id_for_label }}" class="col-sm-4 col-form-label">Profesión:</label>
                                <div class="col-sm-8">
                                    {{ form.profesion }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.direccion.id_for_label }}" class="col-sm-4 col-form-label">Dirección:</label>
                                <div class="col-sm-8">
                                    {{ form.direccion}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.distrito.id_for_label }}" class="col-sm-4 col-form-label">Distrito:</label>
                                <div class="col-sm-8">
                                    {{ form.distrito }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.provincia.id_for_label }}" class="col-sm-4 col-form-label">Provincia:</label>
                                <div class="col-sm-8">
                                    {{ form.provincia }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.departamento.id_for_label }}" class="col-sm-4 col-form-label">Departamento:</label>
                                <div class="col-sm-8">
                                    {{ form.departamento }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.telefono_fijo.id_for_label }}" class="col-sm-4 col-form-label">Teléfono Fijo:</label>
                                <div class="col-sm-8">
                                    {{ form.telefono_fijo }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.celular.id_for_label }}" class="col-sm-4 col-form-label">Celular:</label>
                                <div class="col-sm-8">
                                    {{ form.celular }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.email.id_for_label }}" class="col-sm-4 col-form-label">Email:</label>
                                <div class="col-sm-8">
                                    {{ form.email }}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="{{ form.centro_laboral.id_for_label }}" class="col-sm-4 col-form-label">Centro Laboral:</label>
                                <div class="col-sm-8">
                                    {{ form.centro_laboral }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.cargo_laboral.id_for_label }}" class="col-sm-4 col-form-label">Cargo Laboral:</label>
                                <div class="col-sm-8">
                                    {{ form.cargo_laboral }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.direccion_laboral.id_for_label }}" class="col-sm-4 col-form-label">Dirección Laboral:</label>
                                <div class="col-sm-8">
                                    {{ form.direccion_laboral }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="{{ form.distrito_laboral.id_for_label }}" class="col-sm-4 col-form-label">Distrito Laboral:</label>
                                <div class="col-sm-8">
                                    {{ form.distrito_laboral }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.provincia_laboral.id_for_label }}" class="col-sm-4 col-form-label">Provincia Laboral:</label>
                                <div class="col-sm-8">
                                    {{ form.provincia_laboral }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.departamento_laboral.id_for_label }}" class="col-sm-4 col-form-label">Departamento Laboral:</label>
                                <div class="col-sm-8">
                                    {{ form.departamento_laboral }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.telefono_laboral.id_for_label }}" class="col-sm-4 col-form-label">Teléfono Laboral:</label>
                                <div class="col-sm-8">
                                    {{ form.telefono_laboral }}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-right">
                        <button type="submit" class="btn btn-success btn-custom">Guardar</button>
                        <a href="{% url 'inv:lista_inscritos' %}" class="btn btn-danger btn-custom">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
    $('#btn-consultar-dni').click(function() {
        var dni = $('#dni').val();  // Obtén el valor del DNI

        // Verifica que el campo DNI no esté vacío
        if (dni) {
            $.ajax({
                url: "{% url 'inv:get_person_data' %}",  // URL de la vista
                data: {
                    'dni': dni
                },
                dataType: 'json',
                success: function(data) {
                    // Si la solicitud fue exitosa, rellena los campos del formulario
                    if (data.error) {
                        alert(data.error);
                    } else {
                        $('#id_nombres').val(data.nombres);
                        $('#id_apellido_paterno').val(data.apellido_paterno);
                        $('#id_apellido_materno').val(data.apellido_materno);
                        $('#id_fecha_nacimiento').val(data.fecha_nacimiento);
                        $('#id_referido_por').val(data.referido_por);
                        $('#id_lugar_nacimiento').val(data.lugar_nacimiento);
                        $('#id_telefono_fijo').val(data.telefono_fijo);
                        $('#id_celular').val(data.celular);
                        $('#id_email').val(data.email);
                        $('#id_direccion').val(data.direccion);
                        $('#id_distrito').val(data.distrito);
                        $('#id_provincia').val(data.provincia);
                        $('#id_departamento').val(data.departamento);
                    }
                },
                error: function(xhr, status, error) {
                    // Manejo de errores
                    alert("Error al consultar los datos.");
                    console.log(xhr.responseText); // Muestra el error en la consola para más detalles
                }
            });
        } else {
            alert("Por favor, ingresa un DNI.");
        }
    });
});
</script>


</body>
</html>
{% endblock %}
